@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #2e2f33;
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Crimson Text", serif;
  color: #83cbff;
}

.section {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 98%;
  background-image: url("/img/tlc.png"), url("/img/trc.png"), url("/img/brc.png"), url("/img/blc.png"), url("/img/top.png"), url("/img/right.png"), url("/img/bottom.png"), url("/img/left.png");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: 0 0, top right, bottom right, bottom left, top, right, bottom, left;
  /*  */
  /*order for background size is width height  */
  background-size: 10px 10px, 10px 10px, 10px 10px, 10px 10px, 98% 10px, 10px 98%, 98% 10px, 10px 98%;
}

.container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (minmax(100px, 150px))[3];
      grid-template-columns: repeat(3, minmax(100px, 150px));
  -ms-grid-rows: 0px 45px 45px minmax(200px, 1fr) auto;
      grid-template-rows: 0px 45px 45px minmax(200px, 1fr) auto;
  gap: 4px;
}

.cogBtn {
  display: -ms-inline-grid;
  display: inline-grid;
  border-radius: 150px;
  background: no-repeat url("/img/setting_btn/setting_rest.png");
  background-size: 40px 40px;
  background-position: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.cogBtn:active {
  background: no-repeat url("/img/settings_btn/setting_active.png");
  background-size: 40px 40px;
  background-position: center;
}

.prevBtn {
  display: -ms-inline-grid;
  display: inline-grid;
  border-radius: 150px;
  background: no-repeat url("/img/previous_btn/prevBtn_rest.png");
  background-size: 40px 40px;
  background-position: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.prevBtn:active {
  background: no-repeat url("/img/previous_btn/prevBtn_active.png");
  background-size: 40px 40px;
  background-position: center;
}

.nextBtn {
  display: -ms-inline-grid;
  display: inline-grid;
  border-radius: 150px;
  background: no-repeat url("/img/next_btn/nextBtn_rest.png");
  background-size: 40px 40px;
  background-position: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.nextBtn:active {
  background: no-repeat url("/img/next_btn/nextBtn_active.png");
  background-size: 40px 40px;
  background-position: center;
}

h1 {
  font-weight: 600;
  color: lightgray;
  white-space: nowrap;
  margin: 0px;
  margin-left: 4px;
}

.header {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: 50px 1fr 2fr;
      grid-template-columns: 50px 1fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  position: relative;
}

#settings {
  position: absolute;
  background-color: #13362f;
  padding: 10px;
  width: 80%;
  height: 1fr;
  top: 500px;
  left: 10%;
  border-radius: 10px;
  opacity: 0.95;
}

.settingsDisappear {
  display: inline-block;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.settingsAppear {
  display: inline-block;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 10;
}

@-webkit-keyframes fadeIn {
  0% {
    top: -200px;
    left: 10%;
    opacity: 0;
  }
  50% {
    top: 68px;
    left: 10%;
    opacity: 0;
  }
  100% {
    top: 68px;
    left: 10%;
    opacity: 0.95;
  }
}

@keyframes fadeIn {
  0% {
    top: -200px;
    left: 10%;
    opacity: 0;
  }
  50% {
    top: 68px;
    left: 10%;
    opacity: 0;
  }
  100% {
    top: 68px;
    left: 10%;
    opacity: 0.95;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    top: 68px;
    left: 10%;
    opacity: 0.95;
  }
  50% {
    top: 68px;
    left: 10%;
    opacity: 0;
  }
  100% {
    top: -200px;
    left: 10%;
    opacity: 0;
    z-index: -10;
  }
}

@keyframes fadeOut {
  0% {
    top: 68px;
    left: 10%;
    opacity: 0.95;
  }
  50% {
    top: 68px;
    left: 10%;
    opacity: 0;
  }
  100% {
    top: -200px;
    left: 10%;
    opacity: 0;
    z-index: -10;
  }
}

.settings .settingText {
  display: inline-block;
  margin-left: 10px;
  margin-top: 8px;
}

#minAyaLengthInput,
#maxAyaLengthInput {
  margin-left: 30px;
  display: inline-block;
  background-color: black;
  text-align: center;
  border-radius: 10px;
  color: aqua;
}

#goBtn {
  display: inline-block;
  margin-left: 10px;
  margin-top: 8px;
  cursor: pointer;
}

.logo {
  height: 40px;
  width: 36px;
  margin-left: 10px;
}

#settingsCog {
  height: 40px;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 10px;
}

.line {
  height: 2px;
  width: 35px;
  background-color: yellow;
}

.arabic {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

#quranText {
  font-size: 225%;
  word-spacing: 0.225em;
  margin: 15px;
}

.infoBox {
  height: 20px;
  width: 300px;
  background-color: indianred;
  margin: 5px;
  border-radius: 10px;
}

.filters {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-columns: 75% 1fr 1fr;
      grid-template-columns: 75% 1fr 1fr;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 90%;
}

.info {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-flex-line-pack: center;
      align-content: center;
}

.filters #position {
  display: inline-block;
  margin-left: 15px;
  color: lightgray;
}

.filters #infoLength {
  display: inline-block;
  margin-left: 10px;
  color: lightgray;
}

.prevBtn {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-column-align: end;
      justify-self: end;
}

.nextBtn {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.translation div {
  margin-left: 10px;
  margin-right: 10px;
}

.translationTitle {
  color: lightgray;
  text-align: center;
}

.translator {
  color: lightgray;
}

.engTrans {
  margin-bottom: 15px;
}

.translation {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.notes {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}
/*# sourceMappingURL=main.css.map */