@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: darkslategray;
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Crimson Text", serif;
  color: #f0ea87;
}

.section {
  /*    display: grid; */
  border-radius: 10px;
  border: 1px solid white;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .container {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: (minmax(100px, 220px))[3];
        grid-template-columns: repeat(3, minmax(100px, 220px));
    -ms-grid-rows: 0px 60px 0.1fr minmax(150px, 1fr) auto;
        grid-template-rows: 0px 60px 0.1fr minmax(150px, 1fr) auto;
    gap: 5px;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    position: relative;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /*   align-content: center; */
    -ms-grid-columns: (minmax(100px, 220px))[3];
        grid-template-columns: repeat(3, minmax(100px, 220px));
    -ms-grid-rows: 40px 60px 0.1fr minmax(150px, 1fr) auto;
        grid-template-rows: 40px 60px 0.1fr minmax(150px, 1fr) auto;
    gap: 5px;
  }
}

h1 {
  font-weight: 600;
  color: lightgray;
  white-space: nowrap;
  margin: 0px;
}

.header {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: 50px 1fr 2fr;
      grid-template-columns: 50px 1fr 2fr;
  -ms-grid-rows: 60px;
      grid-template-rows: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  position: relative;
}

.settings {
  position: absolute;
  background-color: #13362f;
  padding: 10px;
  width: 80%;
  height: 1fr;
  top: 500px;
  left: 10%;
  border-radius: 10px;
  opacity: 0.95;
}

.settingsDisappear {
  display: inline-block;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.settingsAppear {
  display: inline-block;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 10;
}

@-webkit-keyframes fadeIn {
  0% {
    top: -200px;
    left: 10%;
    opacity: 0;
  }
  50% {
    top: 68px;
    left: 10%;
    opacity: 0;
  }
  100% {
    top: 68px;
    left: 10%;
    opacity: 0.95;
  }
}

@keyframes fadeIn {
  0% {
    top: -200px;
    left: 10%;
    opacity: 0;
  }
  50% {
    top: 68px;
    left: 10%;
    opacity: 0;
  }
  100% {
    top: 68px;
    left: 10%;
    opacity: 0.95;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    top: 68px;
    left: 10%;
    opacity: 0.95;
  }
  50% {
    top: 68px;
    left: 10%;
    opacity: 0;
  }
  100% {
    top: -200px;
    left: 10%;
    opacity: 0;
    z-index: -10;
  }
}

@keyframes fadeOut {
  0% {
    top: 68px;
    left: 10%;
    opacity: 0.95;
  }
  50% {
    top: 68px;
    left: 10%;
    opacity: 0;
  }
  100% {
    top: -200px;
    left: 10%;
    opacity: 0;
    z-index: -10;
  }
}

.settings .settingText {
  display: inline-block;
  margin-left: 10px;
  margin-top: 8px;
}

#minAyaLengthInput,
#maxAyaLengthInput {
  margin-left: 30px;
  display: inline-block;
  background-color: black;
  text-align: center;
  border-radius: 10px;
  color: aqua;
}

.goBtn {
  display: inline-block;
  margin-left: 10px;
  margin-top: 8px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .nav * {
    display: none;
  }
  #burger {
    display: -ms-grid;
    display: grid;
    height: 30px;
    width: 35px;
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column-align: right;
        justify-self: right;
    margin-right: 15px;
    -ms-flex-line-pack: space-evenly;
        align-content: space-evenly;
  }
  .line {
    height: 2px;
    width: 35px;
    background-color: yellow;
  }
}

@media only screen and (min-width: 600px) {
  .nav {
    display: -ms-grid;
    display: grid;
    position: absolute;
    -ms-grid-columns: (min-content)[6];
        grid-template-columns: repeat(6, -webkit-min-content);
        grid-template-columns: repeat(6, min-content);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 15px;
    right: 15px;
  }
  .nav p {
    display: inline-block;
    margin-right: 15px;
  }
  .burger {
    display: none;
  }
  .nav img {
    -webkit-filter: invert(80%) sepia(54%) saturate(327%) hue-rotate(8deg) brightness(109%) contrast(88%);
            filter: invert(80%) sepia(54%) saturate(327%) hue-rotate(8deg) brightness(109%) contrast(88%);
    cursor: pointer;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin-right: 15px;
    padding-top: 0px;
    font-size: 20px;
  }
}

.arabic {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.quranText {
  font-size: 225%;
  word-spacing: 0.225em;
  margin: 15px;
}

.infoBox {
  height: 20px;
  width: 300px;
  background-color: indianred;
  margin: 5px;
  border-radius: 10px;
}

.filters {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, auto))[4];
      grid-template-columns: repeat(4, minmax(0, auto));
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  margin: 5px;
}

.filters .info {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.filters div {
  display: inline-block;
}

.filters .transport {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, auto))[2];
      grid-template-columns: repeat(2, minmax(0, auto));
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-line-pack: center;
      align-content: center;
}

.transport img {
  -webkit-filter: invert(80%) sepia(54%) saturate(327%) hue-rotate(8deg) brightness(109%) contrast(88%);
          filter: invert(80%) sepia(54%) saturate(327%) hue-rotate(8deg) brightness(109%) contrast(88%);
  cursor: pointer;
  display: inline-block;
  height: 22px;
  width: 22px;
}

.filters #position {
  background-color: darkblue;
  padding: 0px 10px;
  border-radius: 10px;
}

.filters #infoLength {
  background-color: PALEVIOLETRED;
  padding: 0px 10px;
  border-radius: 10px;
}

.translationTitle {
  color: lightgray;
  text-align: center;
}

.translator {
  color: lightgray;
}

.transText {
  margin-bottom: 15px;
}

@media screen and (max-width: 600px) {
  .translation {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
}

@media only screen and (min-width: 600px) {
  .translation {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .translation * {
    margin-left: 10px;
  }
}

@media screen and (max-width: 600px) {
  .notes {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
}

@media only screen and (min-width: 600px) {
  .notes {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
}
/*# sourceMappingURL=main.css.map */