.arabic {
  //   background-color: black;
  grid-column: 1 / 4;
  grid-row: 4/5;
}

.quranText {
  font-size: 225%;
  word-spacing: 0.225em;
  margin: 15px;
  // hesdadfasdfdsfdfsf
}
// dfgdfgs
.infoBox {
  height: 20px;
  width: 300px;
  background-color: indianred;
  //   grid-column: 1/4;
  margin: 5px;
  border-radius: 10px;
}
