.filters {
  display: grid;
  grid-column: 1/4;
  grid-row: 3/4;

  // background-origin: content-box;
  grid-template-columns: 75% 1fr 1fr;

  // grid-template-columns: repeat(4, 100px);
  grid-template-rows: 100%;

  align-items: center;
  font-size: 90%;
}

.info {
  grid-column: 1/2;
  // display: inline-block;
  align-content: center;
}

.filters #position {
  display: inline-block;
  margin-left: 15px;
  color: $EnglishTitles;
}

.filters #infoLength {
  display: inline-block;
  margin-left: 10px;
  color: $EnglishTitles;
}

.prevBtn {
  grid-column: 2/3;
  justify-self: end;
}

.nextBtn {
  grid-column: 3/4;
}
