*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  -webkit-tap-highlight-color: transparent;
  background-color: #2e2f33;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
  color: $textCol;
}

.section {
  justify-self: center;
  width: 98%;

  //
  // background-color: #fff;
  background-image: url("../img/tlc.png"), url("../img/trc.png"), url("../img/brc.png"), url("../img/blc.png"), url("../img/top.png"), url("../img/right.png"), url("../img/bottom.png"), url("../img/left.png");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: 0 0, top right, bottom right, bottom left, top, right, bottom, left;
  /*  */
  /*order for background size is width height  */
  $borderSquareLen: 10px;
  $borderLeftRight: 98%;
  $borderTopBottom: 98%;
  background-size: /* tlc */ $borderSquareLen $borderSquareLen, /* trc */ $borderSquareLen $borderSquareLen, /* brc */ $borderSquareLen $borderSquareLen, /* blc */ $borderSquareLen $borderSquareLen, /* top */ $borderTopBottom $borderSquareLen, /* right */ $borderSquareLen $borderLeftRight,
    /* bottom */ $borderTopBottom $borderSquareLen, /* left */ $borderSquareLen $borderLeftRight;

  // padding-left: 10px;
}

// *************************************   less than 600px    *************************************

// @media screen and (max-width: 600px) {
.container {
  display: grid;

  justify-content: center;

  grid-template-columns: repeat(3, minmax(100px, 150px));

  //             empty - header  - filters - arabic - translation - notes
  grid-template-rows: 0px 45px 45px minmax(200px, 1fr) auto;

  gap: 4px;
}
// }

// // *************************************    this is greater than 600px    *************************************
// @media only screen and (min-width: 600px) {
//   .container {
//     position: relative;
//     display: grid;
//     // background-color: yellow;
//     justify-content: center;
//     /*   align-content: center; */

//     // try max at 700
//     // min at 500

//     // grid-template-columns: minmax(150px, 220px) minmax(150px, 220px) minmax(150px, 220px);

//     grid-template-columns: repeat(3, minmax(100px, 220px));

//     // grid-template-columns: minmax(100px, 200px) minmax(100px, 200px) minmax(100px, 200px);
//     grid-template-rows: 40px 60px 0.1fr minmax(150px, 1fr) auto;
//     gap: 5px;
//   }
// }
