$EnglishTitles: lightgray;
$textCol: #8ad9d0;
$BtnSizeStandard: 40px;
$backGroundMain: #2e2f33;

// $textCol: lightblue;

@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap");
@import "gridStuff";
@import "button";
@import "headerElements";
@import "arabicStuff";
@import "filterStuff";
@import "translationStuff";
@import "notes";
