body {
  background-color: #ececec;
  padding: 0;
  margin: 0;
}

.recOut {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: absolute;
  height: 200px;
  width: 400px;
  border:solid red;
  border-radius: 15px;
  margin: 100px;
  background: #2d3035;
  box-shadow: inset 2px 2px 5px #202225, inset -2px -2px 4px #3c4046;
  justify-items: center;
  align-items: center;
}
.recIn {
  position: relative;
  height: 150px;
  width: 90%;
 grid: 1/2;
  border-radius: 15px;
  border:solid greenyellow;
  background: #2d3035;
  box-shadow: inset 2px 2px 5px #202225, inset -2px -2px 4px #3c4046
  border-radius: 18px;
}

input[type="checkbox"] {
  height: 200px;
  width: 200px;
  -webkit-appearance: none;
  box-shadow: -10px -10px 15px white, 10px 10px 15px lightgray;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 50%;
  /* border: 8px solid #ececec; */
  border: 8px solid #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
}

input[type="checkbox"]:after {
  content: "Hello";
  text-shadow: 2px 2px 2px white;
  color: #7a7a7a;
  font-size: 50px;
}

input[type="checkbox"]:checked {
  box-shadow: -10px -10px 15px white, 10px 10px 15px lightgray, inset -10px -10px 15px white, inset 10px 10px 15px lightgray;
}

input[type="checkbox"]:checked::after {
  color: steelblue;
  font-size: 47px;
}

input[type="checkbox"]:hover {
  content: "Hello";
  text-shadow: 2px 2px 2px greenyellow;
  color: #7a7a7a;
  font-size: 50px;
}
