*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  /* box-sizing: border-box; */
  background-color: DARKSLATEGRAY;
  margin: 0px;
  padding: 0px;
  overflow: auto;
}

.parent {
  display: grid;
  border: solid red;
  width: 600px;
  height: 400px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 150px 150px;
}

.parent .child {
  border: dotted lightgreen;
  display: block;
  color: aliceblue;

  padding: 15%;

  overflow: hidden;
  width: 150px;
  height: 150px;
}
